<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
                <resource id="Magediary_Bookstore::Author" title="Author" sortOrder="10">
					<resource id="Magediary_Bookstore::Author_save" title="Save Author" sortOrder="10"/>
					<resource id="Magediary_Bookstore::Author_delete" title="Delete Author" sortOrder="20"/>
					<resource id="Magediary_Bookstore::Author_update" title="Update Author" sortOrder="30"/>
					<resource id="Magediary_Bookstore::Author_view" title="View Author" sortOrder="40"/>
                </resource>
                <resource id="Magediary_Bookstore::Book" title="Book" sortOrder="20">
                    <resource id="Magediary_Bookstore::Book_save" title="Save Book" sortOrder="10"/>
                    <resource id="Magediary_Bookstore::Book_delete" title="Delete Book" sortOrder="20"/>
                    <resource id="Magediary_Bookstore::Book_update" title="Update Book" sortOrder="30"/>
                    <resource id="Magediary_Bookstore::Book_view" title="View Book" sortOrder="40"/>
                </resource>
			</resource>
		</resources>
	</acl>
</config>
